#workout
	%h4= @workout.date.strftime("%A %d %B")
	#exercise_text Worked out: 
	= @workout.workout
	%br/
	#exercise_text Felt:
	= @workout.mood
	%br/
	#exercise_text Duration:
	%p= @workout.length

#exercises
	%h3 Exercises
	= render @workout.exercises

	%h3 Add an exercise
	= render "exercises/form"

	= link_to "Back", root_path 
	= link_to "Edit", edit_workout_path(@workout)
	= link_to "Delete", workout_path(@workout), method: :delete, data: {confirm: "Are you sure?"}
	%br/
	%br/
	%br/
	%br/
	%br/
